@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap);

* {
	box-sizing: border-box;
}

body{
  font-family: 'Spartan', sans-serif;    
  font-size: 15px;
  padding: 50px 200px;
  min-height: 100vh;
  color: white;
}

p{
  line-height: 1.5rem;
}

section{
  margin: 4%;
}

.app{
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
}


.sec-one{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30%;

}

.left h1{
  color: hsl(300, 43%, 22%);
  font-size: 3em;
  margin: 10px 0;
}

.left p{
  color: hsl(303, 10%, 53%);
}


.right{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sec-two{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 400px;
}

@media (max-width: 1700px){
  body{
    padding: 60px 20px;
    min-height: 400px;
  }

}

@media (max-width: 768px) {
  .sec-one, .sec-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sec-one .left {
      margin-bottom: 20px;
      margin-right: 0;
      text-align: center;
  }
  .rating{
    justify-content: center;
    margin-bottom: 20px;
  }

}